/*------------------------------------- Geral */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}

html {
    font-size: 62.5%;
    overflow-x: hidden
}

body {
    box-sizing: border-box;
    background: linear-gradient(93deg, #333 35%, #222 63%);
    overflow-x: hidden
}

a {
    text-decoration: none
}

li {
    list-style: none
}

button:focus,
input:focus,
textarea:focus {
    outline: 0
}

body {
    font-family: Roboto, sans-serif
}

/*---------------------------------------------- Key Frames */

@keyframes up-down {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-2rem)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes from-left {
    0% {
        transform: translateX(-100px);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes from-right {
    0% {
        transform: translateX(100px);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes from-bottom {
    0% {
        transform: translateY(10rem)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes from-top {
    0% {
        transform: translateY(-5rem)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes rotate-zero {
    0% {
        transform: rotateZ(-10deg)
    }

    100% {
        transform: rotateZ(0)
    }
}

@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%
    }

    15% {
        opacity: 1;
        top: 50%
    }

    50% {
        opacity: 0;
        top: 50%
    }

    100% {
        opacity: 0;
        top: 29%
    }
}

@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%
    }

    15% {
        opacity: 1;
        top: 50%
    }

    50% {
        opacity: 0;
        top: 50%
    }

    100% {
        opacity: 0;
        top: 29%
    }
}

@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%
    }

    15% {
        opacity: 1;
        top: 50%
    }

    50% {
        opacity: 0;
        top: 50%
    }

    100% {
        opacity: 0;
        top: 29%
    }
}



@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%
    }

    15% {
        opacity: 1;
        top: 50%
    }

    50% {
        opacity: 0;
        top: 50%
    }

    100% {
        opacity: 0;
        top: 29%
    }
}

@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%
    }

    15% {
        opacity: 1;
        top: 50%
    }

    50% {
        opacity: 0;
        top: 50%
    }

    100% {
        opacity: 0;
        top: 29%
    }
}

@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%
    }

    15% {
        opacity: 1;
        top: 50%
    }

    50% {
        opacity: 0;
        top: 50%
    }

    100% {
        opacity: 0;
        top: 29%
    }
}


/*------------------------------------- Constrution Page */

.info-text {
    color: #fff;
    gap: 20px;
    margin-top: 80px;
}

.logo img {
    width: 200PX;
    border-radius:60%;
}

.logo {
    margin-top: 100px;
}

.cone i {
    width: 100%;
    color: #fff;
}

.cone {
    width: 100px;
    height: 100px;
}

.social {
    color: #fff;
    font-size: 20px;
    align-items: center;
    justify-content: center;
} 

.social i {
    text-decoration: none;
    color: #fff;
}

/*------------------------------------- Header */
.home-header {
    background-image:linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("/assets/images/office_5497.jpg");
    min-height: 100vh;
    background-size: cover !important;
    background-position: center;
    position: relative;
    background-repeat: no-repeat !important;
}

.home-header img {
    display: flex;
    width: 100%;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.home-header .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 90%
}

.home-header--heading-primary {
    margin-bottom: 1.5rem
}

.home-header--text-primary {
    margin-bottom: 3rem
}

.home-header--btn {
    cursor: pointer
}





.heading-primary {
    font-size: 5rem;
    letter-spacing: .4rem;
    color: #eee
}

.heading-primary__sm {
    color: #ffd71b;
    display: inline-block;
    font-size: 2.5rem
}

@media (min-width:40.62em) {
    .heading-primary {
        font-size: 6rem
    }
}

@media (min-width:56.25em) {
    .heading-primary {
        font-size: 8rem;
        letter-spacing: 6px
    }
}

.heading-secondary {
    font-size: 4rem;
    letter-spacing: 2px;
    line-height: 5rem;
    color: #eee
}

.heading-secondary__sm {
    color: #ffd71b;
    display: inline-block;
    font-size: 2rem
}

.text-primary {
    font-size: 1.7rem;
    line-height: 2.8rem;
    color: #e6e6e6
}

.text-secondary {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #eee
}

.main-container {
    max-width: 114rem;
    width: 95%;
    margin: auto
}

.bton {
    font-family: Staatliches, cursive;
    background-color: #ffd71b;
    color: #000;
    padding: 1.5rem 0;
    border: none;
    font-size: 2rem;
    width: 20rem;
    display: inline-block;
    text-decoration: none
}

.mb-bg {
    margin-bottom: 2rem
}

.block {
    display: block
}

.none {
    display: none
}


/*---------------------------------------------- NavBar */
.from-left {
    animation: from-left 1s ease-out
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 2rem 1.5rem;
    transition: .2s
}

.main-nav--main-container {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.main-nav__sm-scr-menu-icon-cont {
    width: 4rem;
    cursor: pointer
}

.main-nav__sm-scr-menu-icon {
    width: 100%
}

.main-nav__brand-logo-cont {
    width: 4rem
}

.main-nav__brand-logo {
    width: 100%;
    border-radius: 50%;
}

.main-nav-inv {
    background: #000;
    padding: 1.5rem 1rem
}

.fl-scr-menu {
    background: #000;
    z-index: 20;
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 2rem 1.5rem;
    animation: from-left .5s ease-in;
    color: #eee
}

.fl-scr-menu .icon-cont {
    width: 4rem;
    cursor: pointer;
    margin-left: auto
}

.fl-scr-menu .icon-cont img {
    width: 100%
}

.fl-scr-menu .links {
    max-width: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.fl-scr-menu .links .link {
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 3px
}

.fl-scr-menu .links .link a {
    width: 100%;
    display: inline-block;
    padding: 3rem 0;
    color: #eee
}


/*----------------------------------------------- Main */

/*----------------------------------------------- Scroll Bottom */

.fl-scr-menu {
    background: #000;
    z-index: 20;
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 2rem 1.5rem;
    animation: from-left .5s ease-in;
    color: #eee
}

.fl-scr-menu .icon-cont {
    width: 4rem;
    cursor: pointer;
    margin-left: auto
}

.fl-scr-menu .icon-cont img {
    width: 100%
}

.fl-scr-menu .links {
    max-width: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.fl-scr-menu .links .link {
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 3px
}

.fl-scr-menu .links .link a {
    width: 100%;
    display: inline-block;
    padding: 3rem 0;
    color: #eee
}

.scroll-btn {
    display: block;
    position: absolute;
    left: 50%;
    top: 97%;
    transform: translate(-50%, -50%);
    text-align: center
}

.scroll-btn>* {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: 400;
    color: #7f8c8d;
    color: #fff;
    font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2px
}

.scroll-btn>.active,
.scroll-btn>:focus,
.scroll-btn>:hover {
    color: #fff
}

.scroll-btn>.active,
.scroll-btn>:active,
.scroll-btn>:focus,
.scroll-btn>:hover {
    opacity: .8
}

.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 25px;
    height: 40px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #eee;
    border-radius: 23px
}

@media (min-width:56.25em) {
    .scroll-btn .mouse {
        width: 30px;
        height: 50px
    }
}

.scroll-btn .mouse>* {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 4px;
    height: 4px;
    margin: -4px 0 0 -2px;
    background: #eee;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite
}

/*-------------------------------------------- Hero section */

.hero {
    display: block;
    position: relative;
    height: 100dvh;
    color: #fff;
    background-image: url(../images/IMG_1318.JPG);
    background-color: black;
    text-align: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
}

.hero_info {
    position: absolute;
    background-color: transparent;
    left: 45%;
    margin-left: -100px;
    top: 40%;
}

.hero_info h1, .hero_info h5 {
    background-color: rgba(0, 0, 0, 0.5);
}

/*----------------------------------------------- Sction Gretings */

.greetings {
    padding: 4rem 0;
    background: #000
}

@media (min-width:40.62em) {
    .greetings {
        padding: 8rem 0
    }
}

@media (min-width:56.25em) {
    .greetings {
        padding: 8rem 0
    }
}

@media (min-width:56.25em) {
    .greetings--main-container {
        display: flex;
        align-items: center;
        justify-content: center
    }
}

.greetings__msg {
    padding: 0 2rem 2rem 2rem;
    max-width: 70rem
}

@media (min-width:56.25em) {
    .greetings__msg {
        width: 60%
    }
}

.greetings--heading-secondary {
    margin-bottom: 2rem
}

.greetings--text-primary {
    font-size: 1.5rem
}

.greetings__visual {
    padding: 2rem 2rem 0 2rem
}

@media (min-width:56.25em) {
    .greetings__visual {
        width: 40%
    }
}

.greetings__visual-img-cont {
    width: 100%;
    height: 40rem;
    overflow: hidden
}

@media (min-width:56.25em) {
    .greetings__visual-img-cont {
        height: 50rem;
        border-radius: 5px
    }
}

.greetings__visual-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center
}

.greetings--btn {
    display: none
}

@media (min-width:56.25em) {
    .greetings--btn {
        text-align: center;
        margin-top: 4rem;
        display: inline-block
    }
}

/*----------------------------------------------- Sction Skills */
.features {
    background-color: orange;
    z-index: 2
}

@media (min-width:56.25em) {
    .features {
        display: flex
    }
}

.features__feature {
    width: 100%;
    height: 45rem;
    overflow: hidden;
    position: relative;
    z-index: 2
}

@media (min-width:56.25em) {
    .features__feature {
        width: 33.33333%;
        height: 60rem
    }
}

.features__feature::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
    -webkit-box-shadow: inset 0 0 50px 0 #000;
    -moz-box-shadow: inset 0 0 50px 0 #000;
    box-shadow: inset 0 0 50px 0 #000
}

.features__feature-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0
}

.features__content {
    z-index: 2;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 80%;
    text-align: center
}

.features--heading-secondary {
    margin-bottom: 2rem;
    font-size: 4rem
}

.features--text-secondary {
    width: 90%;
    margin: 0 auto 3rem auto;
    color: #c8c8c8;
    max-width: 25rem
}

.menu-features {
    padding: 4rem 0;
    text-align: center;
    background: #000
}

@media (min-width:40.62em) {
    .menu-features {
        padding: 8rem 0
    }
}

.menu-features__row {
    margin-top: 4rem;
    text-align: left;
    margin-bottom: 4rem
}

@media (min-width:56.25em) {
    .menu-features__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6rem
    }
}

.menu-features__feature {
    padding: 5rem 2rem;
    background: #222;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    margin-bottom: 2.5rem;
    transition: .3s ease-out
}

@media (min-width:56.25em) {
    .menu-features__feature {
        width: 31%;
        margin-bottom: 0
    }
}

.menu-features__feature:last-child {
    margin-bottom: 0
}

@media (min-width:56.25em) {
    .menu-features__feature:last-child {
        margin-bottom: 0
    }
}

.menu-features__feature:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    transform: translateY(-1rem)
}

.menu-features__icon-cont {
    width: 6rem;
    margin-bottom: 1.5rem
}

.menu-features__icon-cont img {
    width: 100%
}

.menu-features__feature-name {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #eee
}

.menu-features__feature-desc {
    font-size: 1.4rem;
    color: #afafaf;
    line-height: 2.5rem;
    font-weight: 400
}

#skills {
    color: #fff;
}

#skills svg {
    width: 50px;
    height: 50px;
    color: #fff;
}

@media (min-width: 1400px){
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1320px;
    }
}

@media (min-width: 1200px){
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1140px;
    }
}
@media (min-width: 992px){
    .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
    }
}
@media (min-width: 768px){
    .container-md, .container-sm, .container {
        max-width: 720px;
    }
}
@media (min-width: 576px){
    .container-sm, .container {
    max-width: 540px;
    }
}

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

/*-------------------------------------------- Media Query */

@media (min-width:40.62em) {
    html {
        font-size: 67%
    }
}

@media (min-width:56.25em) {
    html {
        font-size: 70%
    }
}

@media (min-width:75em) {
    html {
        font-size: 72%
    }
}

@media (min-width:112.5em) {
    html {
        font-size: 75%
    }
}


@media (min-width:40.62em) {
    .fl-scr-menu .icon-cont {
        width: 5rem
    }
}



@media (min-width:40.62em) {
    .main-nav__brand-logo-cont {
        width: 5rem
    }
}



@media (min-width:40.62em) {
    .main-nav__sm-scr-menu-icon-cont {
        width: 5rem
    }
}



@media (min-width:40.62em) {
    .fl-scr-menu .icon-cont {
        width: 5rem
    }
}

